body {
    color: #000;
    background-color: #fefae0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
   margin: -10px 100px;
   background-color: #fff;
   border: 3px solid #90a955;
}

header {
   display: flex;
   justify-content: space-around;
}

header ul {
   display: flex;
   justify-content: space-around;
   align-items: center;
   text-decoration: none;
   list-style-type: none;
   gap: 60px;
}

header a {
   text-decoration: none;
}

.cookbook {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 40px 150px;
   padding: 80px 0px;
   border: 2px solid #3e4a4b;
   border-radius: 30px;
   background-color: #90a955;
}

.cookbook img {
   border: 1px solid black;
   box-shadow: 10px 10px 25px 12px #3e4a4b;
}

.recipe-names {
   font-size: 1.5em;
   background-color: #fefae0;
   padding: 40px 60px;
   margin: 40px;
   border: 3px solid #90a955;
   border-radius: 30px;
}

.recipe-section {
   display: flex;
   flex-direction: column;
}

.recipe-section li, p {
   font-size: 20px;
}

.recipe-section h2 {
   font-size: 30px;
}

.background {
   background-image: url(images/food-background3.jpg);
   background-repeat: no-repeat;
   background-position: center;
   border-top: 3px solid #90a955;
}

.name , .description , .ingredients , .steps {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   margin: 0px 400px;
}

.name {
   padding: 50px 0px;
   align-self: center;
}

.name img {
   border: 1px solid black;
   box-shadow: 10px 10px 40px 8px #3e4a4b;
   margin: 40px 0px;
   align-self: center;
}

.top-btn {
   color: #fff;
   background-color: #90a955;
   padding: 15px 25px;
   text-decoration: none;
   border: 1px solid black;
   border-radius: 8px;
   font-size: 18px;
}

.chefs {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 30px;
}

footer {
   text-align: center;
   background-color: #bcb8b1;
   margin: 0 auto;
   padding: 20px 0px;
   border-top: 3px solid #90a955;
}

footer p {
   font-size: 18px;
   padding-top: 50px;
}